@charset "utf-8";

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,textarea,select {
	margin: 0;
	padding: 0
}

* {
	box-sizing: border-box;
}

body {
	min-width: 1200px;
}

html,body {
	-webkit-text-size-adjust: none;
}

body {
	font: 14px/21px "微软雅黑";
	color: #666;
}

ul li {
	list-style: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-table
}

*html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

*+html .clearfix {
	min-height: 1%
}

a {
	text-decoration: none;
}

a,img {
	border: 0 none;
}

/**floot**/
.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.clear {
	clear: both;
}

.none {
	display: none;
}
/**width**/
.w1200 {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}

.w800 {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}

/****/
.pc_overflow {
	overflow: hidden;
	zoom: 1;
}

.autoline {
	position: relative;
	text-decoration: none;
}

.autoline:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 100%;
	background: #FFA924;
	transform: scale(0);
	transition: all 0.3s;
}

.autoline:hover:before {
	transform: scale(1);
}

.header {
	background-color: #262626;
	padding: 10px;
	color: #fff;
}

.header-content a {
	color: #fff;
	font-size: 12px;
}

.header-content a:hover {
	color: #FFA924;
}

.banner {
	background: url("../img/banner.jpg") no-repeat;
	width: 100%;
	height: 1080px;
}

.nav-body {
	margin-top: 20px;
	margin-left: 10px;
}

.nav-logo {
	color: #fff;
	height: 34px;
	line-height: 34px;
}

.nav-logo img {
	width: 34px;
	height: 34px;
	vertical-align: middle;
	margin-top: -5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #ffd;
}

.nav-logo b {
	display: inline-block;
	font-size: 20px;
	color: #C79053;
}

.nav-title li {
	float: left;
	display: inline;
	padding: 0 10px;
}

.nav-title a {
	color: #ffffff;
}

.nav-title a:hover {
	color: #FFA924;
}

.banner-content {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	color: #ffffff;
}

.banner-content .banner-title {
	font-size: 44px;
	margin-bottom: 44px;
	text-shadow: 0px 0px 9px #333;
}

.banner-content p {
	font-size: 24px;
	height: 50px;
	text-shadow: 0px 0px 9px #333;
}

.banner-btn {
	color: #fff;
	background-color: #EAB66A;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border-radius: 2px;
	transition: all .2s linear;
}

.banner-btn:hover {
	background-color: #FAB459;
}

.introduction-body {
	padding: 80px 0px;
}

.introduction-content {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	text-align: center;
}

.part-title {
	font-size: 22px;
	color: #afabab;
}

.part-title2 {
	font-size: 24px;
	color: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}

.introduction-content p {
	font-size: 14px;
	line-height: 30px;
}

.introduction-wrap {
	margin-top: 50px;
}

.snapshots-body {
	text-align: center;
	background-color: #f9f9f9;
	padding: 80px 0px;
}

.snapshots-main {
	text-align: left;
	margin-left: 8px;
	margin-right: 8px;
}

.snapshots-main ul li {
	float: left;
	width: 532px;
	height: 340px;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: 20px 30px;
}

.snapshots-img img {
	width: 100%;
	height: 100%;
}

.snapshots-main .snapshots-wrap {
	margin-top: 30px;
	margin-left: 20px;
}

.snapshots-main .snapshots-wrap div {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.footer {
	background-color: #262626;
	padding: 70px 0 40px 0;
	color: #999;
	text-align: center;
}

.footer ul li {
	display: inline;
}

.footer ul li a {
	color: #999;
	padding: 0 10px;
}

.footer ul li a:hover {
	color: #fff;
}

.footer p {
	margin-top: 10px;
}



